{% extends 'base.html' %}
{% block content %}
<script>
    $(document).ready(function() {
        function card(transportss) {
        return `
        <div class="col">
            <div class="card text-white bg-success mb-3" style="width: 18rem; border-radius: 10px;">
                <div class="card-body">
                    <h5 class="card-title">${transportss.fields.company_name}</h5>
                    <p class="card-text">${transportss.fields.transport_name}</p>
                    <p class="card-text">${transportss.fields.transport_price}</p>
                    <p class="card-text">${transportss.fields.description}</p>
                    <p class="card-text">${transportss.fields.availability}</p>
                    <a href="delete_transport/${transport.pk}" class="btn btn-dark">Delete</a>         
                </div>
            </div>
        </div>
        `
        };
        function loop() {
            $.get("{% url 'rental_transport:show_json' %}", function(data) {
                $.each(data, function(i, value) {
                    $("#container0").append(card(value));
                });
            });
        };
        $("#submitbutton").click(e => {
        e.preventDefault();
        const csrftoken = document.querySelector(
            "[name=csrfmiddlewaretoken]"
        ).value;
        $.ajax({
            type: "POST",
            url: "{% url 'rental_transport:create_transport' %}",
            headers: { "X-CSRFToken": csrftoken },
            mode: "same-origin",
            data: {
                company_name: $("#companyname").val(),
                transport_name: $("#transportname").val(),
                transport_price: $('#transportprice').val(),
                description: $('#descriptiontxt').val(),
                availability: $("#availability").val(),
            },
            success: response => {
                $("#newtransport").trigger("reset");
                $("#emuotori").prepend(card(response));
            },
            error: error => {
                console.log(error);
            },
            });
        });
        loop();
    })
</script>

<div class="newww">
<div class="modal fade" id="modalinterior" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Add Rental Transportation</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form method="post" id="newtransport">
              {% csrf_token %}
              <div class="col text-center">
              <div class="form-floating mb-3 w-10">
                  <div class="form-floating">
                  <label for="floatingInput">Company Name</label>
                  <input type="text" class="form-control" name="company" id="companyname">
                  </div>
                  <div class="form-floating">
                  <label for="floatingInput">Vehicle type</label>
                  <input  type="text" class="form-control" name="transporttype" id="transportname">
                  </div>
                  <div class="form-floating">
                  <label for="floatingInput">Price</label>
                  <input type="text" class="form-control" name="price" id="transportprice">
                  </div>
                  <div class="form-floating">
                  <label for="floatingInput">Description</label>
                  <input type="text" class="form-control" name="descrip" id="descriptiontxt">
                  </div>
                  <button class="btn btn-success my-3" type="submit" id="submitbutton" data-bs-dismiss="modal">Create Transportation</button>
                  </div>
              </div>
              </div>
          </form>
        </div>
      </div>
    </div>
  <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#modalinterior">
    Add New Transport
  </button>
<div id="refer" class="row row-cols-1 row-cols-md-5 g-4"></div>
</div>
{% endblock content %}