body {
    background: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

main {
    margin-left: 10vw;
    margin-right: 10vw;
}
::-webkit-scrollbar {
    display:none;
}

* {
    -ms-overflow-style: none; 
    scrollbar-width: none; 
}