{% extends 'base.html' %}

{% block meta %}
<title>Login</title>
{% endblock meta %}

{% block content %}
<style>
  .login{
    margin-left: 5px;
    margin-bottom: 10px;
    margin-top:10px;
  }
</style>
<div class = "login">

    <h3>Login</h3>

    <form method="POST" action="">
        {% csrf_token %}
        <div class="form-floating is-invalid mb-3 w-25">
          <input type="text" class="form-control" name="username" id="floatingInputGroup2" placeholder="Username" required>
          <label for="floatingInputGroup2">Username</label>
        </div>
        <div class="form-floating is-invalid w-25">
          <input type="password" class="form-control" name="password" id="floatingPassword" placeholder="password" required>
          <label for="floatingPassword">Password</label>
        </div>
      <input style="margin-top:5px" class="btn btn-secondary" type="submit" value="Login">
    </form>

    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}     
        
    Don't have an account? <a href="{% url 'tourguide:register' %}">Create Account</a>

</div>

{% endblock content %}