{% extends 'base.html' %}

{% block meta %}
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" integrity="sha256-b88RdwbRJEzRx95nCuuva+hO5ExvXXnpX+78h8DjyOE=" crossorigin="anonymous"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js" integrity="sha256-/7FLTdzP6CfC1VBAj/rsp3Rinuuu9leMRGd354hvk0k=" crossorigin="anonymous"></script>

{% endblock meta %}
{% block content %}
<script>
  $(document).ready(function() {
      function card(task) {
          return `
              <div class="col">
                <div style="margin-top :.6vw;" class="card text-white text-center mb-3" style="max-width: 10rem;">
                  <div class="card-body">
                      <h4 class="card-title">${task.fields.company}</h4>
                      <h5 class="card-title">${task.fields.date}</h5>
                      <p class="card-text">${task.fields.destination}</p>
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" onclick="location.href='/tourguide/update-booked/${task.pk}'" ${task.fields.is_booked ? "checked" : ""}>
                        <label class="custom-control-label" for="#">Booked</label>
                      </div>
                  </div>
                </div>
              </div>
            `
      };
      function loop() {
        $.get("{% url 'tourguide:show_json' %}", function(data) {
            $.each(data, function(i, value) {
                $("#refer").append(card(value));
            });
        });
    };
    $("#datepicker").datepicker({
        autoHide: true,
        zIndex: 2048,
      });
    $("#submitbutton").click(e => {
      e.preventDefault();
      const csrftoken = document.querySelector(
        "[name=csrfmiddlewaretoken]"
      ).value;
      $.ajax({
          type: "POST",
          url: "{% url 'tourguide:add_schedule' %}",
          headers: { "X-CSRFToken": csrftoken },
          mode: "same-origin",
          data: {
            company: $("#cominput").val(),
            date: $("#datepicker").val(),
            destination: $("#descinput").val(),
          },
          success: response => {
            $("#addtask").trigger("reset");
            $("#refer").prepend(card(response));
          },
          error: error => {
            console.log(error);
          },
        });
    });
    loop();
});
</script>
<style>
    a {
        text-decoration: none;
        color:inherit;
    }
    a:hover {
        color:inherit;
    }
    .MakeMarginOmegalol {
        margin-left: 5px;
        margin-bottom: 10px;
    }
    button {
        margin-bottom: 10px;
    }
    .datepicker {
      z-index: 999999 !important;
    }
    .modal-backdrop {
      z-index: 1;
    }
    .card {
      background-color :rgb(20, 84, 116, 0.6) !important;
    }
</style>
  <div class="tourguide_bg p-5 text-center bg-light">
      <span style="color:white">
          <h1 class="mb-3">Find the right tourguide for you!</h1>
          {% if user.is_authenticated %}
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalinterior">
            Add New Schedule
          </button>
          {% endif %}
      </span>
  </div>
  <div class="container">
      <div id="grid" class="row mb-3 mt-3">
      </div>
  </div>

<div class="MakeMarginOmegalol">
  <div class="modal fade" id="modalinterior" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Add Schedule</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form method="post" id="addtask">
              {% csrf_token %}
              <div class="col text-center">
              <div class="form-floating mb-3 w-10">
                  <div class="form-floating">
                  <input type="text" class="form-control" name="company" id="cominput" placeholder="Task Name" required>
                  <label for="floatingInput">Company Name</label>
                  </div>
                  <div class="form-floating">
                  <input  type="text" class="form-control" name="dateinput" id="datepicker" placeholder="Task Name">
                  <label for="floatingInput">Date</label>
                  </div>
                  <div class="form-floating">
                  <input type="text" class="form-control" name="destination" id="descinput" placeholder="Task Name" required>
                  <label for="floatingInput">Destination</label>
                  <button class="btn btn-success my-3" type="submit" id="submitbutton" data-bs-dismiss="modal">Create Schedule</button>
                  </div>
              </div>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>




<div id="refer" class="row row-cols-1 row-cols-md-5 g-4"></div>
</div>
</div>
{% endblock content %}