{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  {% block meta %}
  {% endblock meta %}
</head>

<body style="overflow-x:hidden">
  
  <!-- Main navigation -->
  <header>
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark scrolling-navbar">
      <div class="container">
        <a class="navbar-brand" href="#">
          <img src="/static/img/MID-logos_white.png" width=60 length=60><strong>MID</strong>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-7" aria-controls="navbarSupportedContent-7" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent-7">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Transporations</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Restaurants</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Landmarks</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'hotel:show_hotel' %}">Hotel</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Tourguide</a>
            </li>
          </ul>
        </div>
        <div class="d-flex align-items-center">
          <button type="button" class="btn btn-link px-3 me-2">
            Login
          </button>
          <button type="button" class="btn btn-primary me-3">
            Sign up for free
          </button>
          <a
            class="btn btn-dark px-3"
            href="https://github.com/diablofied/MID-tourism"
            target=”_blank”
            role="button"
            ><i class="fab fa-github"></i
          ></a>
        </div>
      </div>
    </nav>
  </header>
<!--Main Layout-->
  {% block content %}
  {% endblock content %}
  <footer class="bg-light text-center text-lg-start mt-5">
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      <i>© 2022 Copyright</i> <br>
      <b>PBD Group Assignment</b> <br>
      Dylan Pribadi ||
      Halomoan Geraldo ||
      Kaloosh Falito Verrell ||
      Mohammad Attar ||
      Nicholas Lexi ||
      Raphael Fide Christiano
    </div>
    <!-- Copyright -->
  </footer>
</body>
</html>



