{% extends 'base.html' %}

{% block meta %}
<title>Landmarks</title>
<style>
    .landmark-cards {

    }
    .landmark-img {

    }
    .card-horizontal {
        display: flex;
        flex: 1 1 auto;
    }
</style>
{% endblock meta %}

{% if authentication %}
    {% block navbar %}
        <button type="button" class="btn btn-primary px-3 me-2" data-bs-toggle="modal" data-bs-target="#newLandmarkModal">Register a Landmark</button>
        <button type="button" class="btn btn-link px-3 me-2">
            <a href="{% url 'homepage:logout' %}" style="text-decoration:none;">Logout</a>
        </button>
    {% endblock navbar %}
{% endif %}

{% block content %}
<div style="min-height:80vh">
    <div class="landmarks_bg p-5 text-center bg-secondary">
        <span style="color:white">
            <h1 class="mb-3">Landmarks</h1>
            <h4 class="mb-3">Find the best cuisine in your location of choice!</h4>
        </span>
    </div>
    <div class="container">
        <div id="landmarks" class="col mb-3 mt-3">
            <div class="row my-3">
                <div class="card">
                    <div class="card-horizontal">
                        <div class="img-square-wrapper">
                            <img class="" src="">
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Card title</h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="newLandmarkModal" tabindex="-1" aria-labelledby="newLandmarkModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <form id="form" onsubmit="return false">
          {% csrf_token %}
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="newLandmarkModalLabel">Register a Landmark</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="form-outline mb-2">
              <input type="text" class="form-control" name="name" required placeholder="Name">
            </div>
            <div class="form-outline mb-2">
                <input type="text" class="form-control" name="location" required placeholder="Location">
              </div>
            <div class="form-outline mb-4">
              <textarea type="text" class="form-control" name="description" required placeholder="Description" rows="12"></textarea>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary" onclick="addLandmark()" data-bs-toggle="modal" data-bs-target="#newLandmarkModal">Create</button>
          </div>
        </form>
      </div>
    </div>
  </div>

<script>
    async function getLandmarks() {
        return fetch("{% url 'landmarks:json' %}").then((res) => res.json())
    }

    async function refreshLandmarks() {
        document.getElementById("landmarks").innerHTML = "";
        const landmarks = await getLandmarks();
        let htmlString = '';
        landmarks.forEach((item) => {
            htmlString += `\n<div class="row my-3">
                    <div class="card landmark-cards">
                        <div class="card-body">
                            <div class="row">
                                <div class="col landmark-img">
                                    <img src=${item.fields.image}>
                                </div>
                                <div class="col">
                                    <h2>${item.fields.name}</h2>
                                    <h3>${item.fields.location}</h3>
                                    <p>${item.fields.description}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>`
        });
        document.getElementById("landmarks").innerHTML = htmlString;
    }
    function addLandmark() {
        fetch("{% url 'landmarks:add_landmark' %}", {
            method: "POST",
            body: new FormData(document.querySelector('#form'))
        }).then(refreshLandmarks);
    }
    refreshLandmarks()
</script>

{% endblock content %}