{% extends 'base.html' %}

{% block meta %}
<style>
    table, tr, th, td {
        border-collapse:collapse;
    }
</style>
{% endblock meta %}

{% block content %}
<div style="min-height:80vh">
    <div class="login_reg_bg p-5 text-center bg-light">
        <span style="color:white">
            <h1 class="mb-3">Login</h1>
            <h4 class="mb-3">Login as an admin!</h4>
        </span>
    </div>
    <div class="container">
        <div id="grid" class="row mb-3 mt-3">
        </div>
    </div>
</div>