<!--
<button><a href="{% url 'resto:create_resto' %}">Create your Own Resto!</a></button>
    <table>
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Description</th>
            <th>Photo</th>
            <th>More Info</th>
            <th>Delete this Restaurant</th>
        </tr>
        {% for resto in restaurants %}
        <tr>
            <td>{{ resto.resto_name }}</td>
            <td>{{ resto.resto_address }}</td>
            <td>{{ resto.resto_email }}</td>
            <td>{{ resto.resto_phone }}</td>
            <td>{{ resto.resto_description }}</td>
            <td><img src="{{ resto.resto_photo.url }}" alt ="No image" 
                width=500 length=500></td>
        
            <td><button><a href= "{% url 'resto:show_restaurant_detail' resto.pk %}">More Info</a></button></td>
            <td><button><a href="{% url 'resto:delete_restaurant' resto.pk %}">Delete Restaurant</a></button></td>
        </tr>
        {% endfor %}
    </table>

{% for resto in restaurants %}
    <div class="col-lg-4 mb-4">
        <div class="card mb-3 mt-3 pl-3 pr-3">
            <img class="card-img-top" src="{{ resto.resto_photo.url }}" alt ="No image">
            <div class="card-body">
                <h5 class="card-title">{{ resto.resto_name }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ resto.resto_address }}</h6>
                <p class="card-text"> 
                    {{ resto.resto_description }}
                </p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><b>Email:</b> {{ resto.resto_email }}</li>
                <li class="list-group-item"><b>Phone Number:</b> {{ resto.resto_phone }}</li>
                <li class="list-group-item"><b>Website:</b> {{ resto.resto_delivery }}</li>
            </ul>
            <div class="card-footer">
                <td><button class="btn btn-outline-secondary"><a href= "{% url 'resto:show_restaurant_detail' resto.pk %}">More Info</a></button></td>
                <td><button class="btn btn-outline-secondary"><a href="{% url 'resto:delete_restaurant' resto.pk %}">Delete Restaurant</a></button></td>
            </div>
        </div>
    </div>
{% endfor %}

<div class="card-footer">
        <td><button class="btn btn-outline-secondary" id=${resto.pk} onclick="moreDetails(this.id)">More Info</button></td>
        <td><button class="btn btn-outline-secondary" id=${resto.pk} onclick="deleteFood(this.id)">Delete Restaurant</button></td>
</div>

 <div class="card-footer">
                        <td><a href="{% url 'resto:show_restaurant_detail' ${resto.fields.resto_id} %}"><button class="btn btn-outline-secondary">More Info</button></a></td>
                        <td><a href="{% url 'resto:delete_restaurant' ${resto.fields.resto_id} %}"><button class="btn btn-outline-secondary">More Info</button></a></td>
                    </div>
                    
<button data-bs-toggle="modal" data-bs-target="#modal" class="container rounded-5 border border-5  my-5 bg-dark d-flex justify-content-center" style="width:25%; padding:1.5%;" >
    <h5 class="h5" style="color: white; text-align: center;">CREATE A NEW RESTAURANT!</h5></button>
<div class="modal fade" id="modal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog rounded-10">
      <div class="modal-content bg-dark">
        <div class="modal-header">
          <h1 class="modal-title fs-5" style="color: white;">Create a New Restaurant</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="form" method="POST" action="">
            {% csrf_token %}
          <table><tr><td>
            <div class="form-outline form-white mb-4">
              <input class="form-control" type="text" maxlength="64" required="" id="id_resto_name" placeholder="Enter your resto's name!">
            </div></td></tr>
            <tr><td><div class="form-outline form-white mb-4">
                <input class="form-control" type="text" maxlength="64" required="" id="id_resto_address" placeholder="Enter your resto's address!">
              </div></td></tr>
              <tr><td><div class="form-outline form-white mb-4">
                <input class="form-control" type="text" maxlength="64" required="" id="id_resto_email" placeholder="Enter your resto's email address!">
              <tr><td></div></td></tr>
              <tr><td><div class="form-outline form-white mb-4">
                <input class="form-control" type="text" maxlength="64" required="" id="id_resto_phone" placeholder="Enter your resto's phone number!">
              </div></td></tr>
              <tr><td><div class="form-outline form-white mb-4">
              <textarea placeholder="Describe your restaurant and what it provides!" name="task_description" cols="50" rows="5" required="" id="id_task_description" spellcheck="false" class="form-control form-control-lg"></textarea>
              </div></td></tr>
              <tr><td><h5 class="h5" style="color: white;">Please submit a photo of your restaurant!</h1></td></tr>
              <tr><td><div class="form-outline form-white mb-4">
                <input class="form-control" type="file" maxlength="64" required="" id="id_resto_photo" placeholder="Please submit a photo of your restaurant!">
              </div></td></tr>
              <tr><td><div class="form-outline form-white mb-4">
                <input class="form-control" type="text" maxlength="64" required="" id="id_resto_delivery" placeholder="Enter your resto's website address!">
              </div></td></tr>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button data-bs-dismiss="modal" type="button" class="btn btn-outline-light btn-lg px-5" type="submit" value="Create!" id="create">Create!</button>
        </form>
        </div>
      </div>
    </div>
  </div>
-->